<!-- File: src/app/products/products.component.html -->
<section class="menu-items">
  <div
    *ngFor="let product of products"
    class="menu-item"
    routerLink="/details/{{ product.id }}"
  >
    <img [src]="product.image" alt="{{ product.title }}" />
    <div class="item-info">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <span class="price">{{ product.price | currency : "USD" }}</span>
    </div>
    <div *ngIf="product.isFavorite" class="favorite">
      <i class="fa fa-star"></i>
    </div>
  </div>
</section>
